@use "../config/reset.scss";
@use "../config/cores.scss";

.products {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1%; 
    
    .is-highlighted {
        border: 2px solid cores.$highlightBorder;
        padding: 8px;
        background-color: cores.$highlight;
    }

    .product {

        &__image {
            width: 100%;
        }

        &__name {
            font-size: 1.2em;
            margin: 8px 0;
        }

        &__description {
            color: cores.$descriptionColor;
        }
    }
}